{# templates/home/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Riverhood | À propos{% endblock %}

{% block body %}
    <div class="bg-gray-100 py-16">
        <div class="container mx-auto px-4 lg:px-18">
            <div class="text-center mb-12">
                <h3 class="text-4xl text-blue-skye font-bold mb-6">Découvrez RiverHood RP</h3>
                <p class="text-lg text-gray-700 font-medium">RiverHood RP est bien plus qu’un simple serveur, c’est une communauté qui vous propose une expérience unique.</p>
            </div>

            <div class="text-center text-gray-700 leading-relaxed space-y-8 mb-8">
                <p>Bonjour à tous ! Et bienvenue sur le Site Officiel de RiverHood RP WL.</p>
                <div class="text-left inline-block mx-auto">
                    <p class="mb-2">Ici, tu pourras y trouver :</p>
                    <ul class="list-disc list-outside ml-5">
                        <li>Les Nouveautés du serveur ;</li>
                        <li>Les patchnotes ;</li>
                        <li>Le Règlement ;</li>
                        <li>La boutique du Serveur ;</li>
                        <li>Les Recrutements Staff, etc.</li>
                    </ul>
                </div>
                <p>RiverHood RP, c'est avant tout de la convivialité ! Le but du serveur est d'apporter le plus de différence possible avec les autres serveurs, et de permettre aux joueurs, de pouvoir trouver une ville où ils auraient envie de rester pour jouer et faire partie de cette grande famille.</p>
                <p>Les Staffs ainsi que Fondateurs se feront un plaisir de répondre à chacune de vos questions, ou de régler les problèmes que vous rencontrerez en jeu, pour vous permettre d'avoir la meilleure expérience de jeu possible.</p>
                <p>Nous sommes sur un Serveur WL, et qui dit WL, dit Serious RP. Nous vous demanderons un sérieux implacable au niveau de votre RP, pour éviter de gâcher l'expérience de jeu d'autres joueurs.</p>
                <p>Si vous avez des suggestions, n'hésitez pas à nous en faire part. Cela ne veut pas dire qu'elles seront instantanément mises en place, mais elles seront examinées par toute l'équipe pour voir si elles correspondent à la vision du serveur.</p>
                <p>Sur ces mots, je vous laisse le plaisir de découvrir notre magnifique site créé avec soin par nos développeurs. En espérant vous voir en jeu !</p>
            </div>
        </div>
    </div>
{% endblock %}