{% extends 'base.html.twig' %}

{% block title %}Riverhood | Accueil{% endblock %}

{% block body %}
    <div class="relative h-screen duration-150">
        <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('{{ asset('images/hero.png') }}');"></div>

        <div class="absolute inset-0 bg-black bg-opacity-50"></div>

        <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
            <h1 class="text-5xl lg:text-6xl font-bold animate-fade-left">BIENVENUE SUR RIVERHOOD RP</h1>
            <div class="animate-fade-right">
                <a href="{{ path('join_us') }}" class="mt-8 px-6 py-3 bg-white text-black rounded-md shadow hover:bg-blue-skye hover:text-white join-us">Nous rejoindre</a>
            </div>
            <img src="{{ asset('images/rounded_logo.png') }}" alt="Logo Riverhood" class="mt-8 w-32 h-auto animate-jump-in animate-once" draggable="false">
        </div>
    </div>
{% endblock %}