{% extends 'base.html.twig' %}

{% block title %}Riverhood | Accueil{% endblock %}

{% block body %}
<div class="container flex-col">
    <div class="home-content">
        <h1 class="home-title">Bienvenue sur Riverhood</h1>
        <p class="home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nostrum velit ! Aperiam aspernatur atque, illo incidunt odio officiis temporibus. Ab adipisci, amet deserunt eligendi esse laborum porro ratione ut voluptatum.</p>
        <a href="" class="btn btn-primary">Nous rejoindre</a>
    </div>
</div>
{% endblock %}
