@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HalcyonMD;
    src: url("../fonts/halcyon-medium.otf") format("opentype");
}

@font-face {
    font-family: HalcyonRL;
    src: url("../fonts/halcyon-regular.otf") format("opentype");
}

@font-face {
    font-family: HalcyonSB;
    src: url("../fonts/halcyon-semibold.otf") format("opentype");
}

@font-face {
    font-family: HalcyonB;
    src: url("../fonts/halcyon-bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --blue-skye: #4FACF3;
    --blue-skye-dark: #264DCF;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #636363;
}

$regular: HalcyonRL;
$medium: HalcyonMD;
$semibold: HalcyonSB;
$bold: HalcyonB;
$inter: Inter;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $inter, sans-serif;
}

#mobile-menu {
    display: none; /* Par défaut, le menu est caché */
}

#mobile-menu.block {
    display: block; /* Affiche le menu lorsque la classe block est ajoutée */
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes appearWithSlideInRight {
    from {
        opacity: 0;
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
