<div class="mt-6">
    <form method="post" action="{{ path('app_patchnote_delete', {'id': patchnote.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patchnote.id) }}">
        <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition">
            Supprimer
        </button>
    </form>
</div>
