{% extends 'base.html.twig' %}

{% block title %}Modifier Patchnote{% endblock %}

{% block body %}
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Modifier Patchnote</h1>

        <div class="max-w-xl mx-auto bg-white p-6 rounded-lg shadow-lg">
            {{ include('patchnote/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="mt-6 text-center">
            <a href="{{ path('app_patchnote_index') }}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Retour à la liste</a>
        </div>

        <div class="mt-4 max-w-xl mx-auto">
            {{ include('patchnote/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
